[submodule "neovim-source"]
	path = neovim-source
	url = https://github.com/neovim/neovim

[submodule "monolisa-nerd-font"]
	path = monolisa-nerd-font
	url = https://github.com/Kailian-Jacy/monalisa-nerd-complete
